<flexy:include src="../../ftemplate/topL.php" />

<form name="frmExporterMaster" action="ExporterMaster.php" method="post">
	<table cellspacing="0"  align="center" cellpadding="0" width="96%">
		<tr flexy:if="err">
			<td height="40" align="center" class="err1" >{err}</td>
		</tr>
			<tr>
				<td height="10" align="center" ></td>
			</tr>
			<tr>
			<td>
				<table cellpadding="0"  cellspacing="1" border="0" align="center"  width="100%">
					<tr>
						<td>							
								{setBoxHeader(#Exporter Master#)}
								<flexy:include src="../../ftemplate/boxTL.tpl" />					
							<table cellpadding="0"  width="100%" cellspacing="0" border="0" align="center">		
								<tr>
									<td colspan="3" align="center">
	<table width="70%" align="center">		
		<tr flexy:if="showEntry()">
			<td>
				<table cellpadding="0"  cellspacing="1" border="0" align="center"  width="75%">
					<tr>
						<td>			
							
							{setSubBoxHeader(heading)}
							<flexy:include src="../../ftemplate/rbTop.tpl" />
							<table cellpadding="0"  width="100%" cellspacing="0" border="0" align="center">		
								<tr>
									<td width="1" ></td>
									<td colspan="2" >
										<table cellpadding="0"  width="100%" cellspacing="0" border="0" align="center">
											<tr>
												<td height="10" ></td>
											</tr>
											<tr>							
												<td align="center" flexy:if="editMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('ExporterMaster.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdSaveChange" class="button" value=" Save Changes " onClick="return validateExporterMaster(document.frmExporterMaster);">	
												</td>												
												<td align="center" flexy:if="addMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('ExporterMaster.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdAdd" class="button" value=" Add " onClick="return validateExporterMaster(document.frmExporterMaster);">
												</td>
											</tr>
											<input type="hidden" name="hidExporterMasterId" value="{editId}">
											{if:editMode}
											<input type="hidden" name="data[Exporter][id]" value="" readonly>
											{end:}
											<tr>
											  <td nowrap class="fieldName">											  </td>
										  </tr>
											<tr>
											  <td colspan="2" height="5"></td>
										  </tr>
	<tr>
		<td colspan="2" align="center" style="padding-left:10px; padding-right:10px;" id="divEntryExistTxt" class="err1"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" style="padding-left:10px; padding-right:10px;"> 
			<table>
						<tr>
						<TD nowrap style="padding-left:5px; padding-right:5px;" valign="top">
						<table>
						<TR>
						<TD valign="top">
							<?php			
								$entryHead = "";
								require("template/rbTop.php");
							?>
							<table>
							<tr>
								<td class="fieldName" nowrap >*Name</td>
								<td>
									<INPUT TYPE="text" NAME="data[Exporter][name]" id="companyName" size="40" value="">
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap >*Address</td>
								<td>
									<textarea name="data[Exporter][address]" id="address" cols="27" rows="4"></textarea>
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap>*Place</td>
								<td>
									<INPUT TYPE="text" NAME="data[Exporter][place]" id="place" size="30" value="">
								</td>				
							</tr>
							<tr>
								<td class="fieldName" nowrap>*Pin Code</td>
								<td>
									<input type="text" name="data[Exporter][pin]" id="pinCode" size="10" value="" />
								</td>
							</tr>
							</table>
							<?php
								require("template/rbBottom.php");
							?>
							</TD>
							<td>&nbsp;</td>
						<td valign="top">
						<?php			
							$entryHead = "";
							require("template/rbTop.php");
						?>
							<table>
							<tr>
								<td class="fieldName" nowrap>*Country</td>
								<td>
									<input type="text" name="data[Exporter][country]" id="country" size="10" value="" />
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap>*Tel.No</td>
								<td>
									<INPUT TYPE="text" NAME="data[Exporter][telno]" id="telNo" size="30" value="">		
								</td>
							</tr>	
							<tr>
								<td nowrap></td>
								<td class="listing-item" style="line-height:normal;font-size:9px;">
									Eg:0471-2222222
								</td>
							</tr>		
							<tr>
								<td class="fieldName" nowrap>Fax No</td>
								<td>
									<INPUT TYPE="text" NAME="data[Exporter][faxno]" id="faxNo" size="30" value="">
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap title="For display exporter code in invoice">*Alpha Code</td>
								<td>
									<input type="text" name="data[Exporter][alpha_code]" id="alphaCode" size="10" value="" />
									<input type="hidden" name="hidAlphaCode" id="hidAlphaCode" size="5" value="" />
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap>*Display Name</td>
								<td>
									<input type="text" name="data[Exporter][display_name]" id="displayName" size="20" value="" />
								</td>
							</tr>











								</table>
							<?php
								require("template/rbBottom.php");
							?>
						</td>
							</TR>
							</table>
						</TD>
					</tr>







							<tr>
		<TD style="padding-left:10px;padding-right:10px;" colspan="2" align="center">
			<table>
				<TR>
				<TD>
					<table  cellspacing="1" bgcolor="#999999" cellpadding="3" id="tblMonitorParam" class="newspaperType">
					<tr align="center">
						<th nowrap style="text-align:center; line-height:normal;">Unit No</th>	
						<th nowrap style="text-align:center;">*Code</th>	
						
						
						<th>&nbsp;</th>
					</tr>
	{setRow(0)}
	<!--{foreach:monitorParamRecs,key,mpr}		-->
	{foreach:exporterUnitParamRecs,key,mpr}
	<tr align="center" class="whiteRow" id="row_{getRow():h}">
		<td align="center" class="listing-item">
			<select id="monitoringParamId_{key}" name="monitoringParamId_%s" flexy:nameuses="key">
			</select>
			<!--<select name="data[operation_type_id][unit_id]" id="unitId" style="width:75px;"></select>-->
		</td>
		<td align="center" class="listing-item">
			<input type="text" autocomplete="off" size="24" value="{mpr.head_name}" id="headName_{key}" name="headName_%s" flexy:nameuses="key" />
		</td>
		
		
		
		<td align="center" class="listing-item">
			<a onclick="setMParamItemStatus('{getRow():h}');" href="###">
				<img border="0" style="border: medium none ;" src="images/delIcon.gif" title="Click here to remove this item"/>
			</a>
			<input type="hidden" value="" id="status_{getRow():h}" name="status_{getRow():h}"/>
			<input type="hidden" value="N" id="IsFromDB_{getRow():h}" name="IsFromDB_{getRow():h}"/>
			<input type="hidden" value="{mpr.id}" id="monitoringParamEntryId_{getRow():h}" name="monitoringParamEntryId_{getRow():h}" readonly="true"/>
			<input type="hidden" value="{mpr.seq_flag}" id="mParamSeqFlag_{getRow():h}" name="mParamSeqFlag_{getRow():h}" readonly="true"/>
		</td>
	</tr>
	
	{incrementRow()}
	{end:}
	</table>
	<!--  Hidden Fields-->
	<input type='hidden' name="hidTableRowCount" id="hidTableRowCount" value="{monitorParamRecSize}" readonly="true">
	</TD>
				</TR>
				<tr><TD height="5"></TD></tr>
				<tr>
					<TD>
						<a href="###" id='addRow' onclick="javascript:addNewMonitorParamItem();"  class="link1" title="Click here to add new item."><img  SRC='images/addIcon.gif' BORDER='0' style='border:none;padding-right:4px;vertical-align:middle;' >Add New </a>
					</TD>
				</tr>
			</table>
		</TD>
	</tr>
							





					</table>
					</td>
					</tr>
											<tr>
											  <td colspan="2" height="5"></td>
										  </tr>
											<tr>							
												<td align="center" flexy:if="editMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('ExporterMaster.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdSaveChange" class="button" value=" Save Changes " onClick="return validateExporterMaster(document.frmExporterMaster);">	
												</td>												
												<td align="center" flexy:if="addMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('ExporterMaster.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdAdd" class="button" value=" Add " onClick="return validateExporterMaster(document.frmExporterMaster);">
												</td>
											</tr>
											<tr>
												<td  height="10" ></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						<flexy:include src="../../ftemplate/rbBottom.tpl" />
						</td>
					</tr>
				</table>
				<!-- Form fields end   -->
			</td>
		</tr>			
	</table>
		</td>
			</tr>	
	<tr flexy:if="showEntry()" >
		<td colspan="3" height="10" ></td>
	</tr>
	
	<tr>
		<td colspan="3" height="10" ></td>
	</tr>
	<tr flexy:if="listMode">	
		<td colspan="3">
			<table cellpadding="0" cellspacing="0" align="center">
			<tr flexy:if="!printMode">
				<td>{if:del}<input flexy:ignore="yes" type="submit" value=" Delete " class="button"  name="cmdDelete" onClick="return confirmDelete(this.form,'delId_',{ExporterRecSize});">{end:}&nbsp;{if:add}<input flexy:ignore="yes" type="submit" value=" Add New " name="cmdAddNew" class="button">{end:}&nbsp;{if:print}<input flexy:ignore="yes" type="button" value=" Print " name="btnPrint" class="button" onClick="return printWindow('ExporterMaster.php?print=y',700,600);">{end:}
				{if:showDefaultBtn()}
				&nbsp;
				<input flexy:ignore="yes" type="submit" value=" Make Default " class="button"  name="cmdDefault" onClick="return confirmExpMakeDefault('delId_', '{ExporterRecSize}');" >
				{end:}
				</td>
			</tr>
			</table>
		</td>
		</tr>
	<tr>
		<td colspan="3" height="5" ></td>
	</tr>
	<tr flexy:if="errDel">
		<td colspan="3" height="15" align="center" class="err1">{errDel}</td>
	</tr>
	<tr flexy:if="listMode">
				<td width="1" ></td>
				<td colspan="2" >
				<table cellpadding="1"  width="30%" cellspacing="1" border="0" align="center" id="newspaper-b1">
	{if:ExporterRecSize}
				<tr flexy:if="displayNavRow">
					<td colspan="10" style="padding-right:10px" class="navRow">
						<div align="right">
						{printPagination(maxpage,pageNo,#ExporterMaster.php?#):h}
						
						<!--<input type="hidden" name="pageNo" value="{pageNo}"> Set to last section -->
						</div>
					</td>
				</tr>
				<thead>
			
	<tr align="center">
		<th width="20" flexy:if="!printMode"><INPUT type='checkbox' name='CheckAll' id='CheckAll' onClick="chkAll(this.form,'delId_'); " class="chkBox"></th>
		<th align="center" style="padding-left:10px; padding-right:10px;" >Alpha Code</th>
		<th align="center" style="padding-left:10px; padding-right:10px;" >Display Name</th>
		<th align="center" style="padding-left:10px; padding-right:10px;" >Name</th>
		<th style="padding-left:10px; padding-right:10px;">Address</th>
		<th style="padding-left:10px; padding-right:10px;">Tel. No.</th>
		
		<th style="padding-left:10px; padding-right:10px;">Default</th>
		
		{if:edit}
		<th width="45" flexy:if="!printMode">&nbsp;</th>
		{end:}
		{if:edit}
		<th width="45" flexy:if="!printMode">&nbsp;</th>
		{end:}
	</tr>
	</thead>
	<tbody>
	{setRow(1)}
	{foreach:ExporterRecs,icmR}	
	<tr>
		<td width="20" align="center" flexy:if="!printMode">
			<input type="checkbox" name="data[{getRow():h}][Exporter][__del]" id="delId_{getRow():h}" value="{icmR.id}" class="chkBox">
		</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{icmR.alpha_code}</td>
		<td class="listing-item" style="padding-left:10px; padding-right:10px;">
		<a href="###" onMouseover="ShowTip('{displayExporterUnitParams(icmR.id)}');" onMouseout="UnTip();" class="link5" >
		{icmR.display_name}</a></td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{icmR.name}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{getAddress(icmR.address,icmR.place,icmR.pin,icmR.country):h}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{icmR.telno}</td>		
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;" align="center">			
			{if:showDefaultChk(icmR.default_row)}<img src="images/y.png" />{end:}
		</td>
		
		{if:edit}
		  <td class="listing-item" width="45" align="center" flexy:if="!printMode"><input type="submit" value=" Edit " name="cmdEdit" onClick="assignValue(this.form,{icmR.id},'editId');">
			</td>
		{end:}
	{if:confirm}
		 <td class="listing-item" width="45" align="center" flexy:if="!icmR.active"><input type="submit" value=" Confirm " name="cmdConfirm" onClick="assignValue(this.form,{icmR.id},'confirmId');">
			</td>
		
		 <td class="listing-item" width="45" align="center" flexy:if="icmR.active"><input type="submit" value=" ReleaseConfirm " name="btnRlConfirm" onClick="assignValue(this.form,{icmR.id},'rlconfirmId');">
			</td>
			{end:}
	</tr>
		{incrementRow()}
	{end:}
	<input type="hidden" name="hidRowCount"	id="hidRowCount" value="{ExporterRecSize}" >
	<input type="hidden" name="editId" value="">
	<input type="hidden" name="confirmId" value="">
	<input type="hidden" name="rlconfirmId" value="">
	</tbody>
	<tr flexy:if="displayNavRow">
		<td colspan="10" style="padding-right:10px" class="navRow">
			<div align="right">
			{printPagination(maxpage,pageNo,#ExporterMaster.php?#):h}
			</div>
		</td>
	</tr>
	{else:}
	<tr><TD align="center">{msg_NoRecs}</TD></tr>
	{end:}
		</table>
		</td>
								</tr>
								<tr flexy:if="listMode">
									<td colspan="3" height="5" ></td>
								</tr>
								<tr flexy:if="listMode">	
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" align="center">
											<tr flexy:if="!printMode">
												<td>{if:del}<input type="submit" value=" Delete " class="button"  name="cmdDelete" onClick="return confirmDelete(this.form,'delId_',{ExporterRecSize});">{end:}&nbsp;{if:add}<input type="submit" value=" Add New " name="cmdAddNew" class="button">{end:}&nbsp;{if:print}<input type="button" value=" Print " name="btnPrint" class="button" onClick="return printWindow('ExporterMaster.php?print=y',700,600);">{end:}
												{if:showDefaultBtn()}
												&nbsp;
												<input type="submit" value=" Make Default " class="button"  name="cmdDefault" onClick="return confirmExpMakeDefault('delId_', '{ExporterRecSize}');" >
												{end:}
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="3" height="5" ></td>
								</tr>
							</table>
						<flexy:include src="../../ftemplate/boxBR.tpl" />					
						</td>
					</tr>
				</table>
			</td>
		</tr>			
		<tr>
			<td height="10">
			<input type="hidden" name="entryExist" id="entryExist" value="" readonly />
			<input type="hidden" name="pageNo" value="{pageNo}" readonly /> 
			</td>
		</tr>	
</table>

{if:showEntry()}
		<SCRIPT LANGUAGE="JavaScript" type="text/javascript">
			function addNewMonitorParamItem()
			{
				addNewMonitorParam('tblMonitorParam','','');		
			}
			// Check valid parameter
			validParam();
		</SCRIPT>
{end:}
{if:showAddRow()}
	<SCRIPT LANGUAGE="JavaScript">
		window.load = addNewMonitorParamItem();
	</SCRIPT>
{end:}	
{if:monitorParamRecSize}
	<flexy:toJavascript fieldId="monitorParamRecSize"></flexy:toJavascript>
{end:}
</form>

<flexy:include src="../../ftemplate/bottomR.php" />

