<flexy:include src="../../ftemplate/topL.php" />

{divContainerId()}

<form name="frmFrznPkgRate" action="FrozenPackingRate.php" method="post">
<script type="text/javascript">	
	/*	
	 $(function() {
                $("#container-1 ul").tabs();
            });
	*/

	function chk()
	{
		return true;
	}

	 $(function() {
                $("#container-1 ul").tabs();
		$('#container-1 ul').bind('tabsselect', function(event, ui) {
			return chk();
			// Objects available in the function context:				
		});
            });

/*
	 $(function() {
		$('#container-1 ul').tabs({
			onClick: function() {
				alert('onClick');
			}
		});
	});
*/

/*
	$('#container-1 ul').tabs({
		fxFade: true,
		fxSpeed: 'fast',
		onClick: function() {
			alert('onClick');
		},
		onHide: function() {
			alert('onHide');
		},
		onShow: function() {
			alert('onShow');
		}
	});
*/
	
	/* Modified section (Original) */
	/* 
	$(function() {
		$("#container-2").tabs().addClass('ui-tabs-vertical ui-helper-clearfix ui-tabs ui-widget ui-widget-content ui-corner-all');
		$("#container-2 li").removeClass('ui-corner-top').addClass('ui-corner-left');
	
		$("#container-2").tabs().removeClass('ui-tabs-nav').addClass('ui-vtabs-nav');
		$("#container-2 ul").removeClass('ui-tabs-nav ui-tabs-panel').addClass('ui-vtabs-nav ui-vtabs-panel');
	});
	*/	
 </script>

<!--<flexy:toJavascript fcRecs="ar" /> -->
<!--<flexy:toJavascript divContainerId="divContainerId" />-->
<script type='text/javascript'>
<?php $__tmp = HTML_Javascript_Convert::escapeString($t->divContainerId,'',false);echo (is_a($__tmp,"PEAR_Error")) ? ("<pre>".print_r($__tmp,false)."</pre>") : str_replace('\\','',$__tmp);?>
</script>

<table cellspacing="0"  align="center" cellpadding="0" width="96%">
		<tr flexy:if="err">
			<td height="40" align="center" class="err1" >{err}</td>
		</tr>
			<tr>
				<td height="10" align="center" ></td>
			</tr>
			<tr>
			<td>
				<table cellpadding="0"  cellspacing="1" border="0" align="center"  width="100%">
					<tr>
						<td>							
								{setBoxHeader(# Frozen Packing Rate#)}
								<flexy:include src="../../ftemplate/boxTL.tpl" />					
							<table cellpadding="0"  width="100%" cellspacing="0" border="0" align="center">		
								<tr>
									<td colspan="3" align="center">
	<table width="70%" align="center">		
		<tr flexy:if="showEntry()">
			<td>
				<table cellpadding="0"  cellspacing="1" border="0" align="center"  width="75%">
					<tr>
						<td>			
							
							{setSubBoxHeader(heading)}
							<flexy:include src="../../ftemplate/rbTop.tpl" />
							<table cellpadding="0"  width="100%" cellspacing="0" border="0" align="center">		
								<tr>
									<td width="1" ></td>
									<td colspan="2" >
										<table cellpadding="0"  width="100%" cellspacing="0" border="0" align="center">
											<tr>
												<td height="10" ></td>
											</tr>
											<tr>
												<td align="center" flexy:if="editMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('FrozenPackingRate.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdSaveChange" class="button" value=" Save Changes " onClick="return validateFrznPkgRate(document.frmFrznPkgRate);">	
												</td>
												<td align="center" flexy:if="addMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('FrozenPackingRate.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdAdd" class="button" value=" Add " onClick="return validateFrznPkgRate(document.frmFrznPkgRate);">
												</td>
											</tr>
											<input type="hidden" name="hidFrznPkgRateId" value="{editId}">
											<tr>
											  <td nowrap class="fieldName">
											  </td>
										  </tr>
										<tr>
											  <td colspan="2" height="5"></td>
										  </tr>
	<tr>
		<td colspan="2" align="center" style="padding-left:10px; padding-right:10px;" id="divEntryExistTxt" class="err1"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" style="padding-left:10px; padding-right:10px;"> 
			<table width="70%" border="0">
				<tr>
				<TD>
					<table>
						<TR>
						<TD valign="top">
						<table>
							<tr>
							<td class="fieldName" nowrap="nowrap">*Machinery</td>
							<td class="listing-item">
								<input name="data[m_frzn_pkg_rate][name]" type="text" id="machinery" size="28" value="" onblur="xajax_chkICExist(document.getElementById('machinery').value, '{editId}');">
								{if:editMode}
								<input type="hidden" name="data[m_frzn_pkg_rate][id]" value="" readonly>
								{end:}
							</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap="nowrap">Description</td>
								<td class="listing-item"><textarea name="data[m_frzn_pkg_rate][description]" id="description"></textarea></td>
							</tr>
							<tr>
								<td class="fieldName" nowrap="nowrap">*Type of Operation</td>
								<td class="listing-item">
									<select name="data[m_frzn_pkg_rate][operation_type_id]" id="operationType"></select>
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap="nowrap">*Capacity</td>
								<td class="listing-item">
									<input name="data[m_frzn_pkg_rate][capacity]" type="text" id="capacity" size="5" value="" style="text-align:right;" autocomplete="off">
								</td>
							</tr>
						</table>
						</TD>
						<td>&nbsp;</td>
						<td valign="top">
						<table>
							<tr>
								<td class="fieldName" nowrap="nowrap">*Unit</td>
								<td class="listing-item">
									<select name="data[m_frzn_pkg_rate][unit_id]" id="unitId"></select>
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap="nowrap">*Per</td>
								<td class="listing-item" nowrap>
									<input name="data[m_frzn_pkg_rate][per_val]" type="text" id="perVal" size="5" value="" style="text-align:right;" autocomplete="off">
									&nbsp;HR
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap="nowrap">*Monitor</td>
								<td class="listing-item">
									<select name="data[m_frzn_pkg_rate][monitor]" id="monitor">
										<option value="">--Select--</option>
										<option value="S">SINGLE</option>
										<option value="M">MULTIPLE</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="fieldName" nowrap="nowrap">*Monitoring Parameters</td>
								<td class="listing-item">
									<select name="data[m_frzn_pkg_rate][monitoring_parameter_id]" id="monitoringParameter"></select>
								</td>
							</tr>	
						</table>
						</td>
						</TR>
					</table>
				</TD>
				</tr>
                                          </table>
					</td>
					</tr>
											<tr>
											  <td colspan="2" height="5"></td>
										  </tr>
											<tr>							
												<td align="center" flexy:if="editMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('FrozenPackingRate.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdSaveChange" class="button" value=" Save Changes " onClick="return validateFrznPkgRate(document.frmFrznPkgRate);">	
												</td>												
												<td align="center" flexy:if="addMode">
												<input flexy:ignore="yes" type="submit" name="cmdCancel" class="button" value=" Cancel " onClick="return cancel('FrozenPackingRate.php');">&nbsp;&nbsp;
												<input flexy:ignore="yes" type="submit" name="cmdAdd" class="button" value=" Add " onClick="return validateFrznPkgRate(document.frmFrznPkgRate);">
												</td>
											</tr>
											<tr>
												<td  height="10" ></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						<flexy:include src="../../ftemplate/rbBottom.tpl" />
						</td>
					</tr>
				</table>
				<!-- Form fields end   -->
			</td>
		</tr>			
	</table>
		</td>
			</tr>	
	<tr flexy:if="showEntry()" >
		<td colspan="3" height="10" ></td>
	</tr>
	
	<tr>
		<td colspan="3" height="10" ></td>
	</tr>
	<tr flexy:if="!listMode">	
		<td colspan="3">
			<table cellpadding="0" cellspacing="0" align="center">			
			<tr flexy:if="!printMode">
				<td>
					{if:edit}
						<input flexy:ignore="yes" type="submit" value=" Save " name="cmdSave" class="button" onClick="return validateFrznPkgRate(document.frmFrznPkgRate);">
					{end:}&nbsp;{if:print}<input flexy:ignore="yes" type="button" value=" Print " name="btnPrint" class="button" onClick="return printWindow('FrozenPackingRate.php?print=y',700,600);">{end:}</td>
			</tr>
			</table>
		</td>
		</tr>
	<tr>
		<td colspan="3" height="5" ></td>
	</tr>
	<tr flexy:if="errDel">
		<td colspan="3" height="15" align="center" class="err1"><?=$errDel;?></td>
	</tr>
	<tr flexy:if="!listMode">
		<td colspan="3" height="15" align="center">
		<table>
		<TR><TD>
			<table>
				<TR>
					<TD class="fieldName">Fish Category</TD>
					<TD nowrap>
						<select name="fishCategory" id="fishCategory" onchange="xajax_getFishList(document.getElementById('fishCategory').value, '');"></select>
					</TD>
					<TD class="fieldName">Fish</TD>
					<TD nowrap>
						<select name="fishId" id="fishId"></select>
					</TD>
					<td>&nbsp;</td>
					<td>
						<input type="submit" name="cmdSearch" class="button" value=" Search " />
					</td>
				</TR>
			</table>
		</TD></TR>
		</table>
		</td>
	</tr>
<div id="filter"></div>
<div id="box">
  <span id="boxtitle"></span>
  <iframe width="100%" height="300" id="gradeExptIFrame" src="" style="border:none;" frameborder="0"></iframe>	
	<!--<p align="center"> 
      <input type="button" name="cancel" value="Cancel" onClick="closeLightBox()">
    </p>-->
</div>
	<tr flexy:if="listMode">
		<td colspan="3" height="15" align="center">

<div id="container-1" flexy:if="!listMode">
            <ul>		
		<li><a href="#fragment-1"><span>Section 1</span></a></li>
                <li><a href="#fragment-2"><span>Section 2</span></a></li>
                <li><a href="#fragment-3"><span>Section 3</span></a></li>		
            </ul>
            <div id="fragment-1">
                <div id="container-2">			
                    <ul>
                        <li ><a href="#fragment-1a"><span>Section 1a</span></a></li>
                        <li ><a href="#fragment-1b"><span>Section 1b</span></a></li>
                        <li ><a href="#fragment-1c"><span>Section 1c</span></a></li>
                    </ul>			
                    <div id="fragment-1a" class="ui-content-region">
			Section 1 > Section 1A
		    </div>
                    <div id="fragment-1b" class="ui-content-region">
                       Section 1 > Section 1B
                    </div>
                    <div id="fragment-1c" class="ui-content-region">
                       Section 1 > Section 1C
                    </div>			
                </div>
            </div>
            <div id="fragment-2">
               Section 2		
            </div>
            <div id="fragment-3">
               Section 3
            </div>
        </div>



<!-- New Container starts here -->
	<div id="container-1" flexy:if="listMode">
            <ul>
		{foreach:fcRecs,fcR}
		<li><a href="#{fcR.category}"><span>{fcR.category}</span></a></li>
		{end:}
            </ul>
	  {foreach:fcRecs,fcR}
<!-- Fish Recs ==> qelFishRecs-->
	{getQELWiseFishRecs(fcR.id)}
            <div id="{fcR.category}">
		{if:qelFishRecSize}
                <div id="container{fcR.id}">
						
                   	<ul>			
			{foreach:qelFishRecs,fr}	
				<li><a href="#{fcR.id}{fr.fishid}"><span>{fr.fishname}</span></a></li>
			{end:}
			</ul>	
			{setRow(1)}		
			{foreach:qelFishRecs,fr}
	{getQELWisePCRecs(fcR.id,fr.fishid)}
<!-- Get PC -->
	{getSelPCRecs(fcR.id,fr.fishid)}	
			<div id="{fcR.id}{fr.fishid}" class="ui-content-region"  >
			<table cellpadding="0"  width="80%" cellspacing="0" border="0" align="center" class="tbl-pcl">
				<tr align="center">
					<th nowrap style="padding-left:10px; padding-right:10px;" width="10%">Process Code</th>
					<th nowrap style="padding-left:10px; padding-right:10px;" width="16%">Freezing Stage</th>
					<th nowrap style="padding-left:10px; padding-right:10px;" width="16%">Quality</th>
					<th nowrap style="padding-left:10px; padding-right:10px;" width="26%">Frozen Code</th>
					<th nowrap style="padding-left:10px; padding-right:10px;" width="2%">Default<br>Rate</th>
					<th nowrap style="padding-left:10px; padding-right:10px;" width="2%">No.of <br>Expt. Rate</th>
					<th nowrap style="padding-left:10px; padding-right:10px;" width="10%">Rate</th>
					<!--<th nowrap style="padding-left:10px; padding-right:10px;">Rate/Kg</th>-->	
					<!--<th nowrap style="padding-left:10px; padding-right:10px;">Grade</th>-->
				</tr>
				<tr>
					<td valign="top">
<!-- List All Process codes -->
					<table cellpadding="0" cellspacing="0" class="tbl-nb" width="100%" >
					{foreach:qeFprPCRecs,fprPCR}
						<TR><TD>
							<a href="###" onclick="xajax_getQEL('{fprPCR.fcid}', '{fprPCR.fishid}', '{fprPCR.pcid}', '{fcR.id}_{fr.fishid}_{getRow()}', '{rateListId}', 'PW'); changeFZN(this.id, '{fcR.id}_{fr.fishid}_{getRow()}');" class="tbl-pc" id="{fprPCR.pcid}">{fprPCR.processcode}</a>
							<input type="hidden" name="rateModified_{fcR.id}_{fr.fishid}_{getRow()}" id="rateModified_{fcR.id}_{fr.fishid}_{fprPCR.pcid}" value="" readonly />
						</TD></TR>
					{end:}
					</table>
					</td>
					<td colspan="6" id="{fcR.id}_{fr.fishid}_{getRow()}" valign="top">
						<!--<table cellpadding="0" cellspacing="0">
							<TR><TD>4543534</TD></TR>
						</table>-->	
						
					</td>
				</tr>
			</table>

<table cellpadding="1"  width="60%" cellspacing="1" border="0" align="center" id="newspaper-b1" flexy:if="!listMode">
	{if:qeFprRecSize}
	<thead>			
	<tr align="center">
		<th nowrap style="padding-left:10px; padding-right:10px;">Fish</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Process Code</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Freezing Stage</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Quality</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Frozen Code</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Rate/Kg</th>	
		<th nowrap style="padding-left:10px; padding-right:10px;">Grade</th>
	</tr>
	</thead>
	<tbody>
	<!--{setRow(1)}-->
	{foreach:qeFprRecs,fprRec}
	<tr>		
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">
			{fprRec.fishname}
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][fish_id]" id="fishId_{getRow():h}" value="{fprRec.fish_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][process_code_id]" id="processCodeId_{getRow():h}" value="{fprRec.processcode_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][freezing_stage_id]" id="freezingStageId_{getRow():h}" value="{fprRec.freezing_stage_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][quality_id]" id="qualityId_{getRow():h}" value="{fprRec.quality_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][frozen_code_id]" id="frozenCodeId_{getRow():h}" value="{fprRec.frozencode_id}" readonly />
		</td>
		<td class="listing-item" style="padding-left:10px; padding-right:10px;">{fprRec.processcode}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{fprRec.freezingstage}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{fprRec.qualityname}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{fprRec.frozencode}</td>			
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;" align="center">
			<input type="text" name="data[{getRow():h}][FrznPkgRate][default_rate]" id="defaultRate_{getRow():h}" value="" size="3" style="text-align:right;" autocomplete="off">
		</td>
		<td class="listing-item" nowrap style="vertical-align: center;padding-left:5px; padding-right:5px;">
			<input type="hidden" name="frznPkgExceptionRate_{gCRRec(fprRec)}" id="frznPkgExceptionRate_{gCRRec(fprRec)}" value="" readonly />
			<a href="###" onclick="getGrade({fprRec.processcode_id}, {fprRec.freezing_stage_id}, {fprRec.quality_id}, {fprRec.frozencode_id}, {getRow():h})">Exception Rate</a>
		</td>		
	</tr>
		{incrementRow()}
	{end:}		
	</tbody>		
	{else:}
	<tr><TD align="center">{msg_NoRecs}</TD></tr>
	{end:}
	<input type="hidden" name="hidRowCount" id="hidRowCount" value="{qeFprRecSize}" />
		</table>
	</div>
	{incrementRow()}
	{end:}	
                </div>
	{end:}
            </div>
		{end:}
<!-- Fish Loop Ends here -->
        </div>
<!-- Main Container Div Ends here -->
		

<!-- Original container	fcRecs -->
	{setRow(1)}
	{foreach:fcRecss,fcR}	
		{getQELWisePCRecs(fcR.id)}
	<div id="{fcR.category}">
	<table cellpadding="1"  width="60%" cellspacing="1" border="0" align="center" id="newspaper-b1">
	{if:qeFprRecSize}
	<thead>			
	<tr align="center">
		<th nowrap style="padding-left:10px; padding-right:10px;">Fish</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Process Code</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Freezing Stage</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Quality</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Frozen Code</th>
		<th nowrap style="padding-left:10px; padding-right:10px;">Rate/Kg</th>	
		<th nowrap style="padding-left:10px; padding-right:10px;">Grade</th>
	</tr>
	</thead>
	<tbody>
	<!--{setRow(1)}-->
	{foreach:qeFprRecs,fprRec}
	<tr>		
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">
			{fprRec.fishname}
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][fish_id]" id="fishId_{getRow():h}" value="{fprRec.fish_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][process_code_id]" id="processCodeId_{getRow():h}" value="{fprRec.processcode_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][freezing_stage_id]" id="freezingStageId_{getRow():h}" value="{fprRec.freezing_stage_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][quality_id]" id="qualityId_{getRow():h}" value="{fprRec.quality_id}" readonly />
			<input type="hidden" name="data[{getRow():h}][FrznPkgRate][frozen_code_id]" id="frozenCodeId_{getRow():h}" value="{fprRec.frozencode_id}" readonly />
		</td>
		<td class="listing-item" style="padding-left:10px; padding-right:10px;">{fprRec.processcode}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{fprRec.freezingstage}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{fprRec.qualityname}</td>
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;">{fprRec.frozencode}</td>			
		<td class="listing-item" nowrap style="padding-left:10px; padding-right:10px;" align="center">
			<input type="text" name="data[{getRow():h}][FrznPkgRate][default_rate]" id="defaultRate_{getRow():h}" value="" size="3" style="text-align:right;" autocomplete="off">
		</td>
		<td class="listing-item" nowrap style="vertical-align: center;padding-left:5px; padding-right:5px;">
			<input type="hidden" name="frznPkgExceptionRate_{gCRRec(fprRec)}" id="frznPkgExceptionRate_{gCRRec(fprRec)}" value="" readonly />
			<a href="###" onclick="getGrade({fprRec.processcode_id}, {fprRec.freezing_stage_id}, {fprRec.quality_id}, {fprRec.frozencode_id}, {getRow():h})">Exception Rate</a>
		<!--<a href="##" onclick="openbox('Grade Exception Rate', 1)">Exception Rate</a>-->
			<!--
			width="50%"
		<span id="horizontalForm" >
			<fieldset >
				{setRow(1,1)}
				{foreach:gradeR,gR}	
					<label for="gradeRate_{getRow(#1#):h}">			
						{gR.code}
						<input type="text" name="data[{getRow():h}][FrznPkgRateGrade][rate]" id="gradeRate_{getRow(#1#):h}_{getRow():h}" value="" size="3" style="text-align:right;" autocomplete="off">
						<input type="hidden" name="data[{getRow():h}][FrznPkgRateGrade][grade_id]" id="frozenCodeId_{getRow():h}" value="{fprRec.frozencode_id}" readonly />
					</label>
				{incrementRow(1)}			
				{end:}	
			</fieldset>
			</span>
			<input type="hidden" name="data[{getRow():h}][gradeRowCount_{getRow():h}]" id="gradeRowCount_{getRow():h}" value="{gradeRecSize}" readonly />-->
		</td>		
	</tr>
		{incrementRow()}
	{end:}		
	</tbody>		
	{else:}
	<tr><TD align="center">{msg_NoRecs}</TD></tr>
	{end:}
	<input type="hidden" name="hidRowCount" id="hidRowCount" value="{qeFprRecSize}" flexy:ignore="yes" />
		</table>
		</div>
		{end:}
		</td>
	</tr>
<!-- Tab End here  -->
								<tr flexy:if="listMode">
									<td colspan="3" height="5" ></td>
								</tr>
								<tr flexy:if="!listMode">	
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" align="center">
											<tr flexy:if="!printMode">
												<td>{if:edit}<input flexy:ignore="yes" type="submit" value=" Save " name="cmdSave" class="button" onClick="return validateFrznPkgRate(document.frmFrznPkgRate);">{end:}&nbsp;{if:print}<input flexy:ignore="yes" type="button" value=" Print " name="btnPrint" class="button" onClick="return printWindow('FrozenPackingRate.php?print=y',700,600);">{end:}</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="3" height="5" ></td>
								</tr>
							</table>
						<flexy:include src="../../ftemplate/boxBR.tpl" />					
						</td>
					</tr>
				</table>
			</td>
		</tr>			
		<tr>
			<td height="10">
			<input type="hidden" name="entryExist" id="entryExist" value="" readonly />
			<input type="hidden" name="pageNo" value="{pageNo}" readonly />			
			</td>
		</tr>	
</table>
<script language="JavaScript" type="text/javascript">
function refreshJS(selRowId, displayHTML)
{
	//alert(displayHTML);
	document.getElementById(selRowId).innerHTML=displayHTML;
} 
</script>
</form>
<flexy:include src="../../ftemplate/bottomR.php" />